<div id="loginModal" class="modal fade" role="dialog" style="position: absolute;">
    <div class="modal-dialog" style="position: relative; top: 12%;">
        <div id="loader-login" class="loader hidden"></div>
        <form id="loginForm"  method="POST" action='https://mapas.lasflores.net.ar/geoserver/j_spring_security_check' class="modal-content form-signin" style="display: flex; flex-wrap: wrap; justify-content: center; padding: 3%;">
            <img class="mb-4" src="src/styles/images/logo-municipal-flor.svg" alt="" width="120" height="120">
            <h1 class="h3 mb-3" style="width: 100%; text-align: center;">Iniciar sesión</h1>
            <h6>Uso 
                <span style="font-weight: bold;">exclusivo</span> para personal municipal</h6>
            <div id="notification-error" class="hidden">
                <p>Usuario y/o contraseña incorrecta. Intente nuevamente</p>
            </div>
            <label for="name" class="sr-only">Nombre de cuenta</label>
            <input type="text" id="name" class="form-control" placeholder="Nombre de cuenta" required autofocus>
            <label for="pwd" class="sr-only">Contraseña</label>
            <input type="password" autocomplete="current-password" id="pwd" class="form-control" placeholder="Contraseña" required>
            <label for="newPwd" class="sr-only">Nueva contraseña</label>
            <button id="submit" class="btn btn-lg btn-primary btn-block" type="button">Ingresar</button>
            <p style="font-size: 0.75em; margin-top: 2%; text-align: center; ">Para solicitar acceso, por favor, póngase en contacto con la 
                <span style="font-weight: bold;">Secretaría de Modernización</span></p>
            <!-- <button id="resetPwd" class="btn btn-lg btn-primary btn-block" type="button">Modificar contraseña</button> -->
        </form>
    </div>
</div>